.payment{
    background-color: white;
     background-color: white;
}

.payment__container > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(205, 194, 194);
    border-bottom: 1px solid rgb(171, 167, 167);
}

.payment__container > h1 a{
    text-decoration: none;
}

.payment__section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title{
    flex: 0.20;
}

.payment__address, .payment__items, .payment__details{
    flex: 0.8;
}



